@page
@using _0_Framework.Application
@using Newtonsoft.Json
@model ServiceHost.Areas.Administration.Pages.IndexModel
@{
    ViewData["Title"] = "صفحه اصلی";
}

<!-- Page-Title -->
<div class="row">
    <div class="col-sm-12">
        <h4 class="page-title">گزارشات</h4>
    </div>
</div>

<!-- Start Widget -->
<div class="row">
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-info"><i class="ion-social-usd"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.TotalSales.ToMoney() تومان</span>
                کل فروش
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-purple"><i class="ion-ios7-cart"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.NewOrdersCount</span>
               سفارشات جدید
            </div>
        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-success"><i class="ion-eye"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.ArticleCount</span>
                تعداد مقاله ها
            </div>

        </div>
    </div>

    <div class="col-md-6 col-sm-6 col-lg-3">
        <div class="mini-stat clearfix bx-shadow">
            <span class="mini-stat-icon bg-primary"><i class="ion-android-contacts"></i></span>
            <div class="mini-stat-info text-right text-muted">
                <span class="counter">@Model.UsersCount</span>
                تعداد کاربران
            </div>
        </div>
    </div>
</div>
<!-- End row-->


<div class="row">
    <div class="col-lg-8">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                   فروش روزانه
                </h3>
                <canvas id="bar"></canvas>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="portlet" style="
                                    height: 29vw;
                                ">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    شیوه خرید
                </h3>
                <canvas id="Doughnut"></canvas>
            </div>
        </div>
    </div>
    <div class="pull-right col-lg-4">
        <div class="portlet">
            <div class="portlet-heading">
                <h3 class="portlet-title text-dark text-uppercase">
                    گروه محصولات
                </h3>
                <canvas id="polarArea"></canvas>
            </div>
        </div>
    </div>

</div>

@section scripts{
    <script>
        const barChartDiv = document.getElementById("bar");
        const sellData = @Html.Raw(JsonConvert.SerializeObject(Model.Sell));
        const barChart = new Chart(barChartDiv,
            {
                type: "bar",
                data: {
                    labels: [@DateTime.Now.AddDays(-6).Day,@DateTime.Now.AddDays(-5).Day,@DateTime.Now.AddDays(-4).Day,@DateTime.Now.AddDays(-3).Day, @DateTime.Now.AddDays(-2).Day, @DateTime.Now.AddDays(-1).Day, @DateTime.Now.Day],
                    datasets: [sellData]
                },
                options: {
                    element: {
                        bar: {
                            borderWidth: 2
                        }
                    }
                }
            });


        const doughnutChartDiv = document.getElementById("Doughnut");
        const paymentMethodData = @Html.Raw(JsonConvert.SerializeObject(Model.PaymentMethod));
        const doughnutChart = new Chart(doughnutChartDiv,
            {
                type: "doughnut",
                data: {
                    labels: ["خرید اینترنتی", "خرید نقدی"],
                    datasets: [paymentMethodData]
                },
                options: {
                    element: {
                        bar: {
                            borderWidth: 2
                        }
                    }
                }
            });



        const polarAreaChartDiv = document.getElementById("polarArea");
        const productCategoriesData = @Html.Raw(JsonConvert.SerializeObject(Model.ProductCategories));
        const productCategoriesName = @Html.Raw(JsonConvert.SerializeObject(Model.ProductCategoriesName));
        const LineChart = new Chart(polarAreaChartDiv,
            {
                type: "pie",
                data: {
                    labels: productCategoriesName,
                    datasets: [productCategoriesData]
                },
                options: {
                    element: {
                        bar: {
                            borderWidth: 2
                        }
                    }
                }
                
            });

    </script>
}